@import uk.gov.hmrc.play.views.html.{helpers => uiHelpers}
@import config.AppConfig
@import controllers._
@import model.exp._
@import views.helper.Helpers.titleMakerWithForm

@(form: Form[DeclareExp],
currentPage: String,
previousPage: String
)(implicit request: play.api.mvc.Request[_], messages: Messages, appConfig: AppConfig)

@header = @{
<legend>
    <h1 class="heading-large">
        { Messages("export.declare.header") }
    </h1>
</legend>
}

@views.html.main(
appConfig = appConfig,
contentHeader = None,
bodyClasses = None,
navTitle = Some(Messages("global.title")),
backButtonUrl = Some(controllers.routes.ExportController.getExportPage(previousPage)),
title = Some(Messages("global.title")),
includeHmrcLogo = true) {


@if(form.hasErrors) { @uiHelpers.errorSummary(Messages("global.error-header"), form) }

@uiHelpers.form(
action = controllers.routes.ExportController.submitExportPage(),
'id -> "import_dec_type_form",
'class -> "form js-form",
'autocomplete -> "off",
'novalidate -> "novalidate"
) {
<fieldset id="export-checkdetails">
    @header



    <div class="form-group @form.errors("export-checkdetails").map { e => form-group-error }">


    @views.html.partial.error_message_form_input("export-declaration", form)
    <input type="hidden" name="page" value="@currentPage" />

    <p>@Messages("export.declare.line1")</p>
    <p>@Messages("export.declare.line2")</p>
    <p>@Messages("export.declare.line3")</p>
    <div class="notice">
        <i class="icon icon-important">
        <span class="visually-hidden">Warning</span>
    </i>
        <strong class="bold-small">@Messages("export.declare.line4")</strong>
    </div>
    <br>
    <p>@Messages("export.declare.line5")</p>


    </div>

</fieldset>

<div class="form-field">
    <button id="next" type="submit" class="button">@Messages("global.declare.and.pay")</button>
</div>
}
}