@import uk.gov.hmrc.play.views.html.{helpers => uiHelpers}
@import config.AppConfig
@import controllers._
@import model.exp._
@import views.helper.Helpers.titleMakerWithForm

@(form: Form[JourneyDetailsExp],
traderForm: Form[TraderDetailsCheckExp],
merchandiseForm: Form[MerchandiseDetailsExp],
departureDecForm: Form[DepartureDecDatesExp],
pricesTaxesForm: Form[PricesTaxesExp],
countries: Seq[model.Country],
currentPage: String,
previousPage: String
)(implicit request: play.api.mvc.Request[_], messages: Messages, appConfig: AppConfig)

@header = @{
<legend>
    <h1 class="heading-large">
        { Messages("export.checkdetails.header") }
    </h1>
</legend>
}

@views.html.main(
appConfig = appConfig,
contentHeader = None,
bodyClasses = None,
navTitle = Some(Messages("global.title")),
backButtonUrl = Some(controllers.routes.ExportController.getExportPage(previousPage)),
title = Some(Messages("global.title")),
includeHmrcLogo = true) {


@if(form.hasErrors) { @uiHelpers.errorSummary(Messages("global.error-header"), form) }

@uiHelpers.form(
action = controllers.routes.ExportController.submitExportPage(),
'id -> "import_dec_type_form",
'class -> "form js-form",
'autocomplete -> "off",
'novalidate -> "novalidate"
) {
<fieldset id="export-checkdetails">
    @header



    <div class="form-group @form.errors("export-checkdetails").map { e => form-group-error }">


    @views.html.partial.error_message_form_input("export-checkdetails", form)
    <input type="hidden" name="page" value="@currentPage" />


        <dl class="govuk-check-your-answers cya-questions-long">

            <!-  ->
            <h2 class="heading-medium">
                @Messages("export.journeydetails.header")
            </h2>
            <br>

            @for(field <- Seq("portOfEntry","eori")) {
            <div id="@field-fieldset">

                <dt class="cya-question">
                    @Messages("export.journeydetails." + field)
                </dt>
                <dd class="cya-answer"> @form(field).value
                </dd>
                <dd class="app-check-your-answers__change">
                    <a href="@routes.ExportController.getExportPage("journey_details")">@Messages("global.change")</a>
                </dd>

            </div>
            }

            <!-  ->
            <br>
            <br>
            <h2 class="heading-medium">
                @Messages("export.traderDetails.header")
            </h2>
            <br>

            @for(field <- Seq("nameAddress","vrn", "vehicleRegNo")) {
            <div id="@field-fieldset">

                <dt class="cya-question">
                    @Messages("export.checkdetails." + field)
                </dt>
                <dd class="cya-answer">
                     @if(field == "nameAddress") {
                      @Html(traderForm(field).value.get) }

                     @if(field != "nameAddress") {
                      @traderForm(field).value }
                </dd>
                <dd class="app-check-your-answers__change">
                    <a href="@routes.ExportController.getExportPage("trader_details")" id="@field">@Messages("global.change")</a>
                </dd>

            </div>
            }
            <!-  ->
            <br>
            <br>
            <h2 class="heading-medium">
                @Messages("export.merchandisedetails.header")
            </h2>
            <br>

            @for(field <- Seq("invoiceNumber", "desciptionOfGoods")) {
            <div id="@field-fieldset">

                <dt class="cya-question">
                    @Messages("export.merchandisedetails." + field)
                </dt>
                <dd class="cya-answer">
                    @merchandiseForm(field).value
                </dd>
                <dd class="app-check-your-answers__change">
                    <a href="@routes.ExportController.getExportPage("merchandise_details")" id="@field">@Messages("global.change")</a>
                </dd>

            </div>
            }
            <!-  ->
            <br>
            <br>
            <h2 class="heading-medium">
                @Messages("export.departuredecdates.header")
            </h2>
            <br>

            @for(field <- Seq("departuredate", "declarationdate")) {
            <div id="@field-fieldset">

                <dt class="cya-question">
                    @Messages("export.departuredecdates." + field)
                    <br>
                    @Messages("global.day.month.year")
                </dt>
                <dd class="cya-answer">
                    @if(field == "departuredate") {
                    @departureDecForm("departureDay").value/@departureDecForm("departureMonth").value/@departureDecForm("departureYear").value
                    }
                    @if(field == "declarationdate") {
                    @departureDecForm("declarationDay").value/@departureDecForm("declarationMonth").value/@departureDecForm("declarationYear").value
                    }
                </dd>
                <dd class="app-check-your-answers__change">
                    <a href="@routes.ExportController.getExportPage("departuredec_dates")" id="@field">@Messages("global.change")</a>
                </dd>

            </div>
            }
            <!-  ->
            <br>
            <br>
            <h2 class="heading-medium">
                @Messages("export.pricestaxes.header")
            </h2>
            <br>

            @for(field <- Seq("purchasePrice")) {
            <div id="@field-fieldset">

                <dt class="cya-question">
                    @Messages("export.pricestaxes." + field)
                </dt>
                <dd class="cya-answer">
                    £@pricesTaxesForm(field).value.get.toDouble.formatted("%,1.2f")
                </dd>
                <dd class="app-check-your-answers__change">
                    <a href="@routes.ExportController.getExportPage("prices_taxes")" id="@field">@Messages("global.change")</a>
                </dd>

            </div>
            }
            <!-  ->

        </dl>


    </div>

</fieldset>

<div class="form-field">
    <button id="next" type="submit" class="button">@Messages("global.calculate.tax")</button>
</div>
}
}