.tableheading-multiline {
    vertical-align: top;
}

/*
 * Things to fix common failings of assets-frontend
 */

.important-notice {
    min-height: 2em;
}

.important-notice p {
    font-weight: 700;
}

.img--inline {
    height: 1.25em;
    max-width: inherit;
}

.figure.bold-total {
    font-weight: 700;
}

.header-options {
    margin-left: 0;
    margin-right: 0;
}

.form-hint {
    display: block;
    color: #6f777b;
    margin-bottom: 10px;
    margin-top: 10px;
}

.top-padded {
    margin-top: 25px !important;
}

.th-bold th {
    width: 200px;
    font-weight: 700;
}

#DDlogo img {
    max-width: 50%;
    display: block;
    margin: 0 auto 1em;
}

@media only screen and (min-width: 450px) {
    #DDlogo {
        text-align: right;
        margin-bottom: 1em;
    }
    #DDlogo img {
        display: inline;
        margin: 0;
        width: 25%;
    }
}
.form-group .panel{
    margin-left: .9em;
    padding-top: 0;
}
.form-group .panel ul{
    margin-left: 2em;
}
.form-group .panel ul li{
    margin-bottom: 5px;
}
.margin-bottom-20{
    margin-bottom: 20px;
}



@media (min-width: 641px) {
    /* line 46, assets/scss/layouts/_page.scss */
    .content__body {
        float:left;
        width: 66.666667%
    }
    .report-error {
        margin-top: 0;
    }


}

#import_dec_type_form .grid-row{
    padding:0 15px;
}

.govuk-box-highlight h1,
.govuk-box-highlight h2{
    margin-top:0;
}

.govuk-box-highlight h2{
    margin-bottom:0;
}
/* js disbale address selection */

.divukaddress,
.divnon-ukaddress{
    display:none;
}

.ukaddress:checked ~ div#ukaddress {
    display:inline;
}


.non-ukaddress:checked ~ div#non-ukaddress {
    display:inline;
}


input[type=radio].non-ukaddress,
input[type=radio].ukaddress {
    position: absolute;
    cursor: pointer;
    left: 0;
    top: 0;
    width: 38px;
    height: 38px;
    z-index: 1;
    margin: 0;
    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0;
}



 input[type=radio] + label.multiple-choice{
    cursor: pointer;
    padding: 8px 10px 9px 12px;
    display: block;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

@media (min-width: 641px){
    input[type=radio] + label.multiple-choice{
          float:left;
          padding-top: 7px;
          padding-bottom: 7px;
              text-align: right;
              width: 70px;
    }

}


input[type=radio] + label.multiple-choice:before {
    content: "";
    border: 2px solid;
    background: transparent;
    width: 34px;
    height: 34px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
}

input[type=radio] + label.multiple-choice:after {
    content: "";
    border: 10px solid;
    width: 0;
    height: 0;
    position: absolute;
    top: 9px;
    left: 9px;
    border-radius: 50%;
    opacity: 0
  }

input:checked + label.multiple-choice:after {
    zoom: 1;
    filter: alpha(opacity=100);
    opacity: 1;
}


input[type=radio]:focus + label.multiple-choice:before {
    -webkit-box-shadow: 0 0 0 4px #ffbf47;
    box-shadow: 0 0 0 4px #ffbf47;
}