@import uk.gov.hmrc.play.views.html.{helpers => uiHelpers}
@import config.AppConfig
@import controllers._
@import model.shared._
@import views.helper.Helpers.titleMakerWithForm



@(form: Form[ImportExportDate],
errorSummaryForm: Form[ImportExportDate],
currentPage: String,
previousPage: Call,
currentSubmit: Call,
importExportTitle: String)(implicit request: play.api.mvc.Request[_], messages: Messages, appConfig: AppConfig)

@header = @{
<legend>
    <h1 class="heading-large">
        { Messages(importExportTitle) }
    </h1>
</legend>
}

@views.html.main(
appConfig = appConfig,
contentHeader = None,
bodyClasses = None,
navTitle = Some(Messages("global.title")),
backButtonUrl = Some(previousPage),
title = Some(Messages("global.title")),
includeHmrcLogo = true) {


@if(errorSummaryForm.hasErrors) { @uiHelpers.errorSummary(Messages("global.error-header"), errorSummaryForm) }

@uiHelpers.form(
action = currentSubmit,
'id -> "import_dec_type_form",
'class -> "form js-form",
'autocomplete -> "off",
'novalidate -> "novalidate"
) {
<fieldset id="import-arrivaldecdates">
    @header



    <div class="form-group @form.errors("import-date").map { e => form-group-error }">


    @views.html.partial.error_message_form_input("import-date", form)

    <input type="hidden" name="page" value="@currentPage" />

    <!-- -->

    <label class="form-label">@if(form.errors("importExportDay").nonEmpty) { @for(error <- form.errors("importExportDay")) {
        <span id="@error.message-importDay" class="error-message">@Messages(error.message)</span>
        }
        }
    </label>
    <label class="form-label">@if(form.errors("importExportMonth").nonEmpty) { @for(error <- form.errors("importExportMonth")) {
        <span id="@error.message-importMonth" class="error-message">@Messages(error.message)</span>
        }
        }
    </label>
    <label class="form-label">@if(form.errors("importExportYear").nonEmpty) { @for(error <- form.errors("importExportYear")) {
        <span id="@error.message-importYear" class="error-message">@Messages(error.message)</span>
        }
        }
    </label>

    <div id="arrival-fieldset" class="form-group">
        <span class="form-hint">@Messages("shared.date.example")</span>
        <div class="form-date" id="arrivalDatesId">
            <div class="form-group form-group-day" id="arrivaldaydiv">
                <label for="importExportDay" class="form-label">@Messages("global.day")</label>
                <input type="number" class="form-control @if(form.errors("importExportDay").nonEmpty) { form-control-error }" name="importExportDay" id="importExportDay" value="@form("importExportDay").value" />
            </div>
            <div class="form-group form-group-month" id="arrivalmonthdiv">
                <label for="importExportMonth" class="form-label">@Messages("global.month")</label>
                <input type="number" class="form-control @if(form.errors("importExportMonth").nonEmpty) { form-control-error }" name="importExportMonth" id="importExportMonth" value="@form("importExportMonth").value" />
            </div>
            <div class="form-group form-group-year" id="arrivalyeardiv">
                <label for="importExportYear" class="form-label">@Messages("global.year")</label>
                <input type="number" class="form-control @if(form.errors("importExportYear").nonEmpty) { form-control-error }" name="importExportYear" id="importYear" value="@form("importExportYear").value" />
            </div>

        </div>
    </div>

    <!-- -->



</fieldset>

<div class="form-field">
    <button id="next" type="submit" class="button">@Messages("global.continue")</button>
</div>
}
}