@import uk.gov.hmrc.play.views.html.{helpers => uiHelpers}
@import config.AppConfig
@import controllers._
@import model._
@import views.helper.Helpers.titleMakerWithForm



@(form: Form[ArrivalDecDates])(implicit request: play.api.mvc.Request[_], messages: Messages, appConfig: AppConfig)

@header = @{
<legend>
    <h1 class="heading-large">
        { Messages("import.arrivaldecdates.header") }
    </h1>
</legend>
}

@views.html.main(
appConfig = appConfig,
contentHeader = None,
bodyClasses = None,
navTitle = Some(Messages("global.title")),
backButtonUrl = Some(controllers.routes.ImportController.getImportPage("merchandise_details")),
title = Some(Messages("global.title")),
includeHmrcLogo = true) {


@if(form.hasErrors) { @uiHelpers.errorSummary(Messages("global.error-header"), form) }

@uiHelpers.form(
action = controllers.routes.ImportController.submitImportPage(),
'id -> "import_dec_type_form",
'class -> "form js-form",
'autocomplete -> "off",
'novalidate -> "novalidate"
) {
<fieldset id="import-arrivaldecdates">
    @header



    <div class="form-group @form.errors("import-arrivaldecdates").map { e => form-group-error }">


    @views.html.partial.error_message_form_input("import-arrivaldecdates", form)

    <input type="hidden" name="page" value="arrivaldec_dates" />

    <!-- -->

    <div id="arrival-fieldset" class="form-group">
        <h2 class="heading-medium">@Messages("import.arrivaldecdates.arrivaldate")</h2>
        <span class="form-hint">@Messages("import.arrivaldecdates.arrival.date.example")</span>
        <div class="form-date" id="arrivalDatesId">
            <div class="form-group form-group-day" id="arrivaldaydiv">
                <label for="arrivalDay" class="form-label">@Messages("global.day") @if(form.errors("arrivalDay").nonEmpty) { @for(error <- form.errors("arrivalDay")) {
                    <span id="@error.message-arrivalDay" class="error-message">@Messages(error.message)</span>
                    }
                    }
                </label>
                <input type="number" class="form-control @if(form.errors("arrivalDay").nonEmpty) { form-control-error }" name="arrivalDay" id="arrivalDay" value="@form("arrivalDay").value" />
            </div>
            <div class="form-group form-group-month" id="arrivalmonthdiv">
                <label for="arrivalMonth" class="form-label">@Messages("global.month") @if(form.errors("arrivalMonth").nonEmpty) { @for(error <- form.errors("arrivalMonth")) {
                    <span id="@error.message-arrivalMonth" class="error-message">@Messages(error.message)</span>
                    }
                    }
                </label>
                <input type="number" class="form-control @if(form.errors("arrivalMonth").nonEmpty) { form-control-error }" name="arrivalMonth" id="arrivalMonth" value="@form("arrivalMonth").value" />
            </div>
            <div class="form-group form-group-year" id="arrivalyeardiv">
                <label for="arrivalYear" class="form-label">@Messages("global.year") @if(form.errors("arrivalYear").nonEmpty) { @for(error <- form.errors("arrivalYear")) {
                    <span id="@error.message-arrivalYear" class="error-message">@Messages(error.message)</span>
                    }
                    }
                </label>
                <input type="number" class="form-control @if(form.errors("arrivalYear").nonEmpty) { form-control-error }" name="arrivalYear" id="arrivalYear" value="@form("arrivalYear").value" />
            </div>

        </div>
    </div>
    <div id="declaration-fieldset" class="form-group">
        <h2 class="heading-medium">@Messages("import.arrivaldecdates.declarationdate")</h2>
        <div class="form-date" id="decDatesId">
            <div class="form-group form-group-day" id="decdaydiv">
                <label for="declarationDay" class="form-label">@Messages("global.day") @if(form.errors("declarationDay").nonEmpty) { @for(error <- form.errors("declarationDay")) {
                    <span id="@error.message-declarationDay" class="error-message">@Messages(error.message)</span>
                    }
                    }
                </label>
                <input type="number"  class="form-control @if(form.errors("declarationDay").nonEmpty) { form-control-error }" name="declarationDay" id="declarationDay" value="@form("declarationDay").value" />
            </div>
            <div class="form-group form-group-month" id="decmonthdiv">
                <label for="declarationMonth" class="form-label">@Messages("global.month") @if(form.errors("declarationMonth").nonEmpty) { @for(error <- form.errors("declarationMonth")) {
                    <span id="@error.message-declarationMonth" class="error-message">@Messages(error.message)</span>
                    }
                    }
                </label>
                <input type="number"  class="form-control @if(form.errors("declarationMonth").nonEmpty) { form-control-error }" name="declarationMonth" id="declarationMonth" value="@form("declarationMonth").value" />
            </div>
            <div class="form-group form-group-year" id="decyeardiv">
                <label for="declarationYear" class="form-label">@Messages("global.year") @if(form.errors("declarationYear").nonEmpty) { @for(error <- form.errors("declarationYear")) {
                    <span id="@error.message-declarationYear" class="error-message">@Messages(error.message)</span>
                    }
                    }
                </label>
                <input type="number"  class="form-control @if(form.errors("declarationYear").nonEmpty) { form-control-error }" name="declarationYear" id="declarationYear" value="@form("declarationYear").value" />
            </div>

        </div>
    </div>

    <!-- -->








</fieldset>

<div class="form-field">
    <button id="next" type="submit" class="button">@Messages("global.continue")</button>
</div>
}
}