@import uk.gov.hmrc.play.views.html.{helpers => uiHelpers}
@import config.AppConfig
@import controllers._
@import model.imp._
@import model.shared._
@import views.helper.Helpers.titleMakerWithForm
@(form: Form[JourneyDetailsImp],
traderForm: Form[TraderDetailsCheckImp],
merchandiseForm: Form[MerchandiseDetails],
importDateForm: Form[ImportExportDate],
pricesTaxesForm: Form[TaxDueImp],
countries: Seq[model.Country],
currentPage: String,
previousPage: String
)(implicit request: play.api.mvc.Request[_], messages: Messages, appConfig: AppConfig)

@header = @{
<legend>
    <h1 class="heading-large">
        { Messages("import.checkdetails.header") }
    </h1>
</legend>
}

@views.html.main(
appConfig = appConfig,
contentHeader = None,
bodyClasses = None,
navTitle = Some(Messages("global.title")),
backButtonUrl = Some(controllers.routes.ImportController.getImportPage(previousPage)),
title = Some(Messages("global.title")),
includeHmrcLogo = true) {


@if(form.hasErrors) { @uiHelpers.errorSummary(Messages("global.error-header"), form) }

@uiHelpers.form(
action = controllers.routes.ImportController.startJourney(),
'id -> "import_dec_type_form",
'class -> "form js-form",
'autocomplete -> "off",
'novalidate -> "novalidate"
) {
<fieldset id="import-checkdetails">
    @header



    <div class="form-group @form.errors("import-checkdetails").map { e => form-group-error }">


    @views.html.partial.error_message_form_input("import-checkdetails", form)
    <input type="hidden" name="page" value="@currentPage" />


        <dl class="govuk-check-your-answers cya-questions-long">

            <!--  -->
            <br>
            <br>
            <h2 class="heading-medium">
                @Messages("import.pricestaxes.header")
            </h2>
            <br>

            @for(field <- Seq("total", "purchasePrice","customsDuty", "importVat")) {
            <div id="@field-fieldset">

                <dt class="cya-question">
                    @Messages("import.pricestaxes." + field)
                </dt>
                <dd class="cya-answer">
                    £@pricesTaxesForm(field).value.get.toDouble.formatted("%,1.2f")
                </dd>
                <dd class="app-check-your-answers__change">
                    @if(field != "total"){
                    <a href="@routes.ImportController.getImportPage("prices_taxes")" id="@field">@Messages("global.change")</a>
                    }
                </dd>

            </div>
            }
            <br>
            <br>

            <!--  -->
            <h2 class="heading-medium">
                @Messages("import.journeydetails.header")
            </h2>
            <br>

            @for(field <- Seq("departuredate")) {
            <div id="@field-fieldset">

                <dt class="cya-question">
                    @Messages("export.checkdetails.date")
                    <br>
                    @Messages("global.day.month.year")
                </dt>
                <dd class="cya-answer">
                    @importDateForm("importExportDay").value/@importDateForm("importExportMonth").value/@importDateForm("importExportYear").value
                </dd>
                <dd class="app-check-your-answers__change">
                    <a href="@routes.ImportController.getImportPage("journey_details")" id="@field">@Messages("global.change")</a>
                </dd>

            </div>
            }
            @for(field <- Seq("portOfEntry","countryOfOrigin", "eori")) {
            <div id="@field-fieldset">

                <dt class="cya-question">
                    @Messages("import.journeydetails." + field)
                </dt>
                <dd class="cya-answer">
                    @if(field == "countryOfOrigin") {
                    @for(country <- countries) {
                    @if(form("countryOfOrigin").value.getOrElse("") == country.code){
                    @country.name } } }

                    @if(field != "countryOfOrigin") {
                    @form(field).value
                    }
                </dd>
                <dd class="app-check-your-answers__change">
                    <a href="@routes.ImportController.getImportPage("journey_details")">@Messages("global.change")</a>
                </dd>

            </div>
            }

            <!--  -->
            <br>
            <br>
            <h2 class="heading-medium">
                @Messages("shared.traderDetails")
            </h2>
            <br>

            @for(field <- Seq("nameAddress","vrn", "vehicleRegNo")) {
            <div id="@field-fieldset">

                <dt class="cya-question">
                    @Messages("import.checkdetails." + field)
                </dt>
                <dd class="cya-answer">
                     @if(field == "nameAddress") {
                      @Html(traderForm(field).value.get) }

                     @if(field != "nameAddress") {
                      @traderForm(field).value }
                </dd>
                <dd class="app-check-your-answers__change">
                    <a href="@routes.ImportController.getImportPage("trader_details")" id="@field">@Messages("global.change")</a>
                </dd>

            </div>
            }
            <!--  -->
            <br>
            <br>
            <h2 class="heading-medium">
                @Messages("shared.merchandisedetails.header")
            </h2>
            <br>

            @for(field <- Seq("invoiceNumber", "desciptionOfGoods")) {
            <div id="@field-fieldset">

                <dt class="cya-question">
                    @if(field == "invoiceNumber") {
                    @Messages("shared.merchandisedetails.invoiceNumber")
                    }
                    @if(field != "invoiceNumber") {
                    @Messages("import.merchandisedetails." + field)
                    }
                </dt>
                <dd class="cya-answer">
                    @merchandiseForm(field).value
                </dd>
                <dd class="app-check-your-answers__change">
                    <a href="@routes.ImportController.getImportPage("merchandise_details")" id="@field">@Messages("global.change")</a>
                </dd>

            </div>
            }
            <!--  -->


        </dl>
    <br>
    <br>
    <h2 class="heading-medium">
        @Messages("import.declare.header")
    </h2>
    <p>@Messages("import.declare.line1")</p>
    <p>@Messages("import.declare.line2")</p>
    <p>@Messages("import.declare.line3")</p>
    <div class="notice">
        <i class="icon icon-important">
            <span class="visually-hidden">Warning</span>
        </i>
        <strong class="bold-small">@Messages("import.declare.line4")</strong>
    </div>
    <br>
    <p>@Messages("import.declare.line5")</p>


    </div>

</fieldset>

<div class="form-field">
    <button id="next" type="submit" class="button">@Messages("global.declare.and.pay")</button>
</div>
}
}