@import uk.gov.hmrc.play.views.html.{helpers => uiHelpers}
@import config.AppConfig
@import controllers._
@import model._
@import views.helper.Helpers.titleMakerWithForm



@(form: Form[MerchandiseDetails])(implicit request: play.api.mvc.Request[_], messages: Messages, appConfig: AppConfig)

@header = @{
<legend>
    <h1 class="heading-large">
        { Messages("import.merchandisedetails.header") }
    </h1>
</legend>
}

@views.html.main(
appConfig = appConfig,
contentHeader = None,
bodyClasses = None,
navTitle = Some(Messages("global.title")),
backButtonUrl = Some(controllers.routes.ImportController.getImportPage("trader_details")),
title = Some(Messages("global.title")),
includeHmrcLogo = true) {


@if(form.hasErrors) { @uiHelpers.errorSummary(Messages("global.error-header"), form) }

@uiHelpers.form(
action = controllers.routes.ImportController.submitImportPage(),
'id -> "import_dec_type_form",
'class -> "form js-form",
'autocomplete -> "off",
'novalidate -> "novalidate"
) {
<div id="import-merchandisedetails">
    @header

    <div class="form-group @form.errors("import-merchandisedetails").map { e => form-group-error }">


    @views.html.partial.error_message_form_input("import-merchandisedetails", form)


    <input type="hidden" name="page" value="merchandise_details" />
    <div class="form-group">
        <label for="invoiceNumber" class="form-label">@Messages("import.merchandisedetails.invoiceNumber")
            @if(form.errors("invoiceNumber").nonEmpty) {
            @for(error <- form.errors("invoiceNumber")) {
            <span id="@error.message-invoiceNumber" class="error-message">@Messages(error.message)</span>
            }
            }
        </label>
        <input type="text" class="form-control @if(form.errors("invoiceNumber").nonEmpty) { form-control-error }" name="invoiceNumber" id="invoiceNumber" value="@form("invoiceNumber").value" />
    </div>



    <div class="form-group">
        <label for="desciptionOfGoods" class="form-label">@Messages("import.merchandisedetails.desciptionOfGoods")
            @if(form.errors("desciptionOfGoods").nonEmpty) {
            @for(error <- form.errors("desciptionOfGoods")) {
            <span id="@error.message-desciptionOfGoods" class="error-message">@Messages(error.message)</span>
            }
            }
        </label>

        <textarea
                class="@{if(form("desciptionOfGoods").hasErrors) "error-field form-field--error" else ""}"
        rows="5"
        style="width: 75%; height: auto"
        name="@{form("desciptionOfGoods").name}"
        id="@{form("desciptionOfGoods").id}"
        >@form("desciptionOfGoods").value.getOrElse("")</textarea>

        </div>


</div>


</fieldset>

<div class="form-field">
    <button id="next" type="submit" class="button">@Messages("global.continue")</button>
</div>
}
} 