@import uk.gov.hmrc.play.views.html.{helpers => uiHelpers}
@import config.AppConfig
@import controllers._
@import model.imp._
@import views.helper.Helpers.titleMakerWithForm



@(form: Form[PricesTaxesImp],
currentPage: String,
previousPage: String,
purchasePrice : String)(implicit request: play.api.mvc.Request[_], messages: Messages, appConfig: AppConfig)

@header = @{
<legend>
    <h1 class="heading-large">
        { Messages("import.pricestaxes.header") }
    </h1>
</legend>
}

@views.html.main(
appConfig = appConfig,
contentHeader = None,
bodyClasses = None,
navTitle = Some(Messages("global.title")),
backButtonUrl = Some(controllers.routes.ImportController.getImportPage(previousPage)),
title = Some(Messages("global.title")),
includeHmrcLogo = true) {


@if(form.hasErrors) { @uiHelpers.errorSummary(Messages("global.error-header"), form) }

@uiHelpers.form(
action = controllers.routes.ImportController.submitImportPage(),
'id -> "import_dec_type_form",
'class -> "form js-form",
'autocomplete -> "off",
'novalidate -> "novalidate"
) {
<fieldset id="import-pricestaxes">
    @header



    <div class="form-group @form.errors("import-pricestaxes").map { e => form-group-error }">


    @views.html.partial.error_message_form_input("import-pricestaxes", form)
    <input type="hidden" name="page" value="@currentPage" />

    @for(field <- Seq("customsDuty", "importVat")) {
    <div id="@field-fieldset" class="form-group @form.errors(field).map { e => form-group-error }">

        <label for="@field" class="form-label">
            @Messages("import.pricestaxes." + field)
            @views.html.partial.error_message_form_input(field,form)
        </label>
        <span>&pound;</span>
        <input type="number" class="form-control form-control-1-4 @if(form.errors(field).nonEmpty) { form-control-error }" name="@field" id="@field" value="@form(field).value" />


    </div>
    }

    <details>
        <summary><span class="summary">@Messages("import.pricestaxes.dutycalc.details1")</span></summary>
        <div class="panel panel-border-narrow">
            <p>@Messages("import.pricestaxes.dutycalc.details2") <a href="https://www.tax.service.gov.uk/shortforms/form/EORIContact" target="_blank">@Messages("import.pricestaxes.dutycalc.details3")</a> @Messages("import.pricestaxes.dutycalc.details4")
        </div>
    </details>

    </div>

</fieldset>
<br>
<div class="form-field">
    <button id="next" type="submit" class="button">@Messages("global.continue")</button>
</div>
}
}