@import uk.gov.hmrc.play.views.html.{helpers => uiHelpers}
@import config.AppConfig
@import controllers._
@import model._
@import views.helper.Helpers.titleMakerWithForm



@(formAction: Call,
form: Form[TraderDetails], countries: Seq[model.Country])(implicit request: play.api.mvc.Request[_], messages: Messages, appConfig: AppConfig)

@header = @{
<legend>
    <h1 class="heading-large">
        { Messages("import.traderDetails.header") }
    </h1>
</legend>
}

@views.html.main(
appConfig = appConfig,
contentHeader = None,
bodyClasses = None,
navTitle = Some(Messages("global.title")),
backButtonUrl = Some(controllers.routes.ImportController.getImportPage("journey_details")),
title = Some(Messages("global.title")),
includeHmrcLogo = true) {


@if(form.hasErrors) { @uiHelpers.errorSummary(Messages("global.error-header"), form) }

@uiHelpers.form(
action = controllers.routes.ImportController.submitImportPage(),
'id -> "import_dec_type_form",
'class -> "form js-form",
'autocomplete -> "off",
'novalidate -> "novalidate"
) {
<fieldset id="import-traderDetails">
    @header



    <div class="form-group @form.errors("import-traderDetails").map { e => form-group-error }">


    @views.html.partial.error_message_form_input("import-traderDetails", form)

    <input type="hidden" name="page" value="trader_details" />

    @for(field <- Seq("trader","line1", "line2", "city", "county", "postcode")) {
    <div id="@field-fieldset" class="form-group @form.errors(field).map { e => form-group-error }">

        <label for="@field" class="form-label">
            @Messages("import.traderDetails." + field) @if(field == "county" || field == "line2" || field == "city") { @Messages("optional") }
            @views.html.partial.error_message_form_input(field,form)
        </label>

        <input type="text" class="form-control @if(form.errors(field).nonEmpty) { form-control-error }" name="@field" id="@field" value="@form(field).value" @if(field == "postcode") { style="width: 150px" }/>

    </div>
    }

    <div  id="country-fieldset"  class="form-group @form.errors("country").map { e => form-group-error }">

    <label for="country" class="form-label">@Messages("import.traderDetails.country")
        @if(form.errors("country").nonEmpty) {
        @for(error <- form.errors("country")) {
        <span id="@error.message-country" class="error-message">@Messages(error.message)</span>
        }
        }
    </label>

    <select id="country" class="form-control @if(form.errors("country").nonEmpty) { form-control-error }" name="country">
    <option value="">@Messages("select.message")</option>
    @for(country <- countries) {
    <option value="@country.code" @if(form("country").value.getOrElse("") == country.code){ selected }>@country.name</option>
    }
    </select>
    </div>

    @for(field <- Seq("vrn","vehicleRegNo")) {
    <div id="@field-fieldset" class="form-group @form.errors(field).map { e => form-group-error }">

        <label for="@field" class="form-label">
            @Messages("import.traderDetails." + field) @if(field == "vrn" || field == "vehicleRegNo") { @Messages("optional") }
            @views.html.partial.error_message_form_input(field,form)
        </label>

        <input type="text" class="form-control @if(form.errors(field).nonEmpty) { form-control-error }" name="@field" id="@field" value="@form(field).value"/>

    </div>
    }





    </div>


</fieldset>

<div class="form-field">
    <button id="next" type="submit" class="button">@Messages("global.continue")</button>
</div>
}
} 