@import config.AppConfig
@(appConfig: AppConfig,
title: String,
navTitle: Option[String] = None,
mainClass: Option[String] = None,
mainDataAttributes: Option[Html] = None,
bodyClasses: Option[String] = None,
sidebar: Html = HtmlFormat.empty,
contentHeader: Option[Html] = None,
mainContent: Html = HtmlFormat.empty,
serviceInfoContent: Html = HtmlFormat.empty,
backButtonUrl: Option[play.api.mvc.Call] = None,
scriptElem: Option[Html] = None)(implicit request: play.api.mvc.Request[_], messages: Messages)

@import layouts.{govuk_template => hmrcGovUkTemplate}
@import uk.gov.hmrc.play.views.html.{layouts => uiLayouts}
@import uk.gov.hmrc.play.views.html.{helpers => uiHelpers}


@commonLinkElement = {
<link rel="stylesheet" href='@routes.Assets.at("css/styles.css")' />
}

@head = {
@uiLayouts.head(
linkElem = Some(commonLinkElement),
headScripts = None)
<meta name="format-detection" content="telephone=no" />
<script src="@routes.Assets.at("js/button.js")"></script>
    }

   @scriptElement = {
       @scriptElem.getOrElse(Html(""))
       <script src="@controllers.routes.Assets.at("js/ga-events.js")" type="text/javascript"></script>
<script src="@controllers.routes.Assets.at("js/disclosure.js")" type="text/javascript"></script>
   }


    @insideHeader = {
    @uiLayouts.header_nav(
        navTitle = navTitle.orElse(Some(Messages("header.default"))),
        navTitleLink = None,
        showBetaLink = false,
        navLinks = None)
    }

    @afterHeader = {}

    @bodyEnd = {
    @uiLayouts.footer(
        analyticsToken = None,
        analyticsHost = "",
        ssoUrl = None,
        scriptElem = Some(scriptElement),
        gaCalls = None)
    }

    @footerTop = {}

    @footerLinks = {
        @uiLayouts.footer_links(None)
    }

    @serviceInfo = {
    @uiLayouts.serviceInfo(
        betaBanner = HtmlFormat.empty,
        includeGridWrapper = false,
        serviceInfoContent = Some(serviceInfoContent),
        includeHMRCBranding = false
        )
    }
    @mainContentHeader = {
    @if(contentHeader.isDefined) {
        @uiLayouts.main_content_header(contentHeader = contentHeader.get)
    }

    @if(backButtonUrl.isDefined) {
        <div class="grid-layout header-options print-hidden">
            @if(backButtonUrl.isDefined) {
                <div class="grid-layout__column--2-3">
                    <a id="back" class="link-back" href="@backButtonUrl">@Messages("global.back")</a>
                </div>
            }
        </div>
    }

    }

    @getHelpForm = @{
        uiHelpers.reportAProblemLink(appConfig.reportAProblemPartialUrl, appConfig.reportAProblemNonJSUrl)
    }

    @content = {
    @uiLayouts.main_content(
        article = mainContent,
        mainClass = mainClass,
        mainDataAttributes = mainDataAttributes,
        mainContentHeader = mainContentHeader,
        serviceInfo = serviceInfo,
        getHelpForm = getHelpForm,
        sidebar = sidebar)
    }

    @hmrcGovUkTemplate(
        Some(title),
        bodyClasses)(
        head = head,
        bodyEnd,
        insideHeader,
        afterHeader,
        footerTop,
        Some(footerLinks),
        true)(content)
